/* 
font-family: 'Comfortaa', cursive;
font-family: 'Nerko One', cursive;
*/

::-webkit-scrollbar{
    background-color: #363b3f;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #272B30;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.692) inset;
}

body {
    background-color: #272B30;
    font-family: 'Comfortaa', cursive;

}

header img {
    height: 300px;

}

.bg-body-tertiary {
    background-color: #3A497B !important;
    border-radius: 20px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.219));
    padding: 15px 0;
    position: sticky;
    top: calc(75.42px / 2) ;
}
nav {
    z-index: 9999;
    width: 75%;
}
.navBar-brand {
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
nav h1 img {
    width: 40px;
}

.navbar-collapse a {
    color: white;
    font-size: 12.25px;
    text-transform: uppercase;


}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.nav-item .nav-link:focus {
    color: #0099cc;
}

/* card */

.card {
    filter: grayscale(80%);
    transition:0.4s;
    cursor: pointer;
}
.card:hover {
    filter: grayscale(0);
    scale: 1.04;
    transition:0.4s;
}
.card-content-p {
    color: white;
    font-size: 14px;
}
.card-body {
    height: 280px;
}
@media screen and (max-width:1000px){
    header img {
        height: 250px;
    
    }
}
@media screen and (max-width:991px){
    .bg-body-tertiary {
        padding: 10px 0;
    }
    .bg-body-tertiary {
        top: calc(68px / 2) ;
    }
}
@media screen and (max-width:767px){
    .card-body {
        height: auto;
    }
    nav {
        width: 95%;
    }
    header img {
        height: 180px;
    
    }
}
@media screen and (max-width:264px){
    .bg-body-tertiary {
        top: calc(113.42px / 2) ;
    }
}

.card-body-p {
    color: gray;
    font-size: 13px;
    height: 30px;
}
.footer-p {
    color: white;
    background-color: #32383E;
    font-size:10.5px;
}

/* section - details */

.details {
    z-index: 9999999999;
    background-color: #272B30;
}
.closeButton {
    color: white;
    transition: 0.2s;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.4s;
}
.closeButton:hover{
    color: #FFC107;
    border: 2px solid #FFC107;
    border-radius: 10px;
}
.card {
    cursor: pointer;
}
.d-category {
    font-size: 12px;
    font-weight: 700;
    font-family: cursive ;
}
.gameDescription {
    font-size: 14px;
    font-weight: 400;
}
h4 {
    font-weight: 500;
}
/* loading */

.loading {
    z-index: 99999999999999;
    background-color: #272b30d2;
}
.spinner {
    position: relative;
    --size:100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border-top: 4px solid rgb(255, 255, 255);
    border-right: 4px solid transparent;
    animation: spinner 1s infinite linear;
}
.spinner::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border-top: 4px solid rgb(204, 75, 15);
    border-left: 4px solid transparent;
    animation: spinner 0.5s infinite linear reverse;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

